@import "tailwindcss";

:root {
  --background: #ffffff;
  --background-secondary: #f5f5f5;
  --bg-orange-600: #f54900;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --background-secondary: #f5f5f5;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

.card {
  background: var(--background-secondary);
  color: var(--foreground);
  padding-inline: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@layer components {
  .input {
    padding: 0.5rem;
    border: 1px solid var(--color-gray-300);
    border-radius: 0.25rem;
    background-color: var(--background);

    &:focus {
      outline: 2px solid var(--bg-orange-600);
      outline-offset: 1px;
    }
  }

  .btn-primary {
    @apply bg-orange-600 text-white px-4 py-2 rounded-xl hover:bg-orange-700;
    cursor: pointer;
  }

  .btn-secondary {
    @apply bg-black text-white px-4 py-2 rounded-xl hover:bg-black/80;
    cursor: pointer;
  }

  .link {
    @apply hover:text-orange-600 font-bold;
    cursor: pointer;

    &:hover {
      border-bottom: 1px solid var(--bg-orange-600);
    }

  }
}